
{%load static%}
{% load i18n %}
{%load crispy_forms_tags%}
{% load account socialaccount %}
<html>
<head>
<title>Login</title>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{%static 'css/login_style.css'%}">
<!------ Include the above in your HEAD tag ---------->
</head>
<body>


{% get_providers as socialaccount_providers %}

<!--{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}-->

<!--<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>
-->


<div class="sidenav">
         <div class="login-main-text " style="background:url(../../static/images/login_bg.jpg);background-size:cover; height:100%; padding-top:0px;margin-top:0px;border-top:0px;">
            <h2>Application<br> Login Page</h2>
            <p>Login or register from here to access.</p>
         </div>
      </div>
      <div class="main mt-5">
         <div class="col-md-6 col-sm-12 offset-2">
           <p>If you have not created an account yet, then please
           <a href="{{ signup_url }}">sign up</a> first.</p>
            <div class="login-form mt-5">
               <form class="login" method="POST" action="{% url 'account_login' %}">
                  <div class="form-group">
                    {% csrf_token %}
                    {{ form|crispy}}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    <button class="primaryAction btn btn-primary"  type="submit">{% trans "Sign In" %}</button>
                  </div>
                  </form>
                  <!--
                     <label>User Name</label>
                     <input type="text" class="form-control" placeholder="User Name">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-black">Login</button>
                  <button type="submit" class="btn btn-secondary">Register</button>
               </form>-->
            </div>
         </div>
      </div>

  </body>
</html>
